.ArrayContainer{
    /* background-color: rgb(66, 145, 235) !important; */
    /* height: 100%; */
    height: 1000px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    
}